<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
      <a href="/dapp/join">회원등록</a>
      <a href="/dapp/account_list">계정목록</a>
      <a href="/dapp/block_list">블록목록</a>
      <a href="/dapp/send">이더전송</a>
      <a href="/dapp/new_block">실시간블록확인</a>
      <a href="/dapp/pending_transaction">처리되지않은트랜잭션</a>
  </body>
</html>
