<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<form action="서버주소/mongo/insert" method="post"> 
	  	아이디 : <input type="text" name="userid" /><br />
	  	암호 : <input type="password" name="userpw" /><br />
			이름 : <input type="text" name="username" /><br />
			연락처 : <input type="text" name="userphone" /><br />
			이메일 : <input type="text" name="useremail" /><br />
	  	<input type="submit"  value="회원가입" />
  	</form>
  </body>  
</html>
