<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<a href="/session/index">홈으로</a>
  	<form action="/session/join" method="post"> 
	  	아이디 : <input type="text" name="userid" /><br />
	  	암호 : <input type="password" name="userpw" /><br />
	  	암호확인 : <input type="password" name="userpw1" /><br />
			이름 : <input type="text" name="username" /><br />
			연락처 : <input type="text" name="userphone" /><br />
	  	<input type="submit"  value="회원가입" />
  	</form>
  	
  </body>  
</html>
